
.navbar-title {
  display:flex;
  flex-direction: row;
  margin-right: 0.5rem;
  margin-left: 9rem;
  gap: 4rem;
  
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-right: 3rem;
  text-shadow: black 0.15em 0.5em 0.5em;

}

.logo2{
  width:15rem;
  margin-top:2rem;
  margin-Left:3rem;
  margin-Right: 2rem;
}

.barra{
  background-Color: transparent !important;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(47,48,58,0.742734593837535) 37%, rgba(47,48,58,1) 86%);
  box-Shadow: 0px 0px 0px 0px;
  padding-Top: 1%;
  text-decoration-line: none;
  font-family: 'Abril Fatface', cursive ;
  font-family: 'Fira Sans', sans-serif ;
  font-family: 'Mochiy Pop One', sans-serif ;
  font-family: 'Open Sans', sans-serif ;
  font-family: 'Philosopher', sans-serif;
  text-decoration: none !important;
}



         

/* inicio */

.Inicio{
 background:linear-gradient( to top,rgba(30,35,38,.8),rgba(30,35,38,1)),url(imagenes/background.png);
 
 background-size:contain;
 object-fit:fill;


 align-items:flex-start;

 background-repeat: no-repeat;



}
.Inicio .contenedor-banner{
  padding:20px;
  background-color:#1e2326;
  max-width:350px;
  max-height:500px;
  
  margin:10% auto 0 auto;
  text-align:center;
  border-radius:40px;

}


.Inicio .contenedor-banner img {
  margin-top:40px;
  border:10px solid #098BB8;
  display: blok;
  width:80%;
  margin:auto;
  border-radius:100%;
}

.Inicio .contenedor-banner h1{
  margin-top:40px;
  font-size:24px;
  font-family: 'Abril Fatface', cursive !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-family: 'Mochiy Pop One', sans-serif !important;
  color :white

}
.Inicio .contenedor-banner h2{
  font-size: 15px;
  font-family: 'Abril Fatface', cursive ;
font-family: 'Fira Sans', sans-serif ;
font-family: 'Mochiy Pop One', sans-serif ;
font-family: 'Open Sans', sans-serif ;
font-family: 'Philosopher', sans-serif;
color: white;

}
.Inicio .contenedor-banner .redes a{
  color:white;
  display :inline-block;
  text-decoration:none;
  border:1px solid #fff;
  border-radius:100%;
  width:32px;
  height: 32px;
  line-height: 32px;
  margin : 40px 5px;
  font-size:20px;
  transition :.3s;
}




/* sobreMi */
.background{
  background:linear-gradient( to top,rgba(30,35,38,.8),rgba(30,35,38,1)),url(imagenes/background.png);
 
 background-size:contain;
 object-fit:fill;


 align-items:flex-start;

 background-repeat: no-repeat;


}

.texto{
  display: flex;
  justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 10rem;
background-color: transparent !important;

}
.texto h1{
  color:#fff;
  font-family: 'Abril Fatface', cursive !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-family: 'Mochiy Pop One', sans-serif !important;



}
.texto p {
  color:#fff;
  font-family: 'Abril Fatface', cursive ;
  font-family: 'Fira Sans', sans-serif ;
  font-family: 'Mochiy Pop One', sans-serif ;
  font-family: 'Open Sans', sans-serif ;
  font-family: 'Philosopher', sans-serif;
  margin-left: 5rem;
  margin-right:5rem ;
}