.navbar-title {
  margin-right: 0.5rem;
}
.navbar-title a:first-child {
  margin-left: 15rem;
}
.navbar-title a {
  color: white;
  font-weight: 300;
  font-size: 2rem;
  text-transform: capitalize;
  margin-right: 5rem;
  text-shadow: black 0.15em 0.5em 0.5em;
}

.logo2{
  width:16rem;
  margin-Left:5rem;
  margin-Right: 5rem;
}

.barra{
  background-Color: transparent !important;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(47,48,58,0.742734593837535) 37%, rgba(47,48,58,1) 86%);
  box-Shadow: 0px 0px 0px 0px;
  padding-Top: 2%;

}