body {
  background:linear-gradient( to top,rgba(30,35,38,.6),rgba(30,35,38,1)),url(imagenes/background.png);
 background-repeat: no-repeat;
background-size: 100% 100%;
 width: 100vw;
 height: 100vh;
 






}
.navbar-title {
  display:flex;
  flex-direction: row;
  margin-right: 0.5rem;
  margin-left: 9rem;
  gap: 4rem;
  
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-right: 3rem;
  text-shadow: black 0.15em 0.5em 0.5em;

}

.logo2{
  width:15rem;
  margin-top:2rem;
  margin-Left:3rem;
  margin-Right: 2rem;
}

#barra{
  background-Color: transparent !important;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(47,48,58,0.742734593837535) 37%, rgba(47,48,58,1) 86%);
  box-Shadow: 0px 0px 0px 0px;
  padding-Top: 1%;
  text-decoration-line: none;
  font-family: 'Abril Fatface', cursive ;
  font-family: 'Fira Sans', sans-serif ;
  font-family: 'Mochiy Pop One', sans-serif ;
  font-family: 'Open Sans', sans-serif ;
  font-family: 'Philosopher', sans-serif;
  text-decoration: none !important;
}



         

                        /* inicio */




  
  
 

.Inicio .contenedor-banner img {
  margin-top:40px;
  border:10px solid #c35a66;
  display: block;
  width:300px;
  margin:auto;
  border-radius:100%;
}
.Inicio .contenedor-banner {
  padding:20px;
  background-color:#1e2326;
  max-width:350px;
  max-height:520px;

  margin:10% auto 0 auto;
  text-align:center;
  border-radius:40px;

}



.Inicio .contenedor-banner h1{
  margin-top:40px;
  font-size:24px;
  font-family: 'Abril Fatface', cursive !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-family: 'Mochiy Pop One', sans-serif !important;
  color :white

}
.Inicio .contenedor-banner h2{
  font-size: 15px;
  font-family: 'Abril Fatface', cursive ;
font-family: 'Fira Sans', sans-serif ;
font-family: 'Mochiy Pop One', sans-serif ;
font-family: 'Open Sans', sans-serif ;
font-family: 'Philosopher', sans-serif;
color: white;

}




                      /* sobreMi */


#sobreMi{
  background-color:#c35a66;
  width: 20rem;
  height: 6rem;
 
  font-size: 1rem;
position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}
#sobreMi h1:after{
  content: "";
  position: absolute;
  top: 30px;
  left: 40px;
  right: -20px;
  bottom: -30px;
  border: 2px solid #D2D2C9;
}
.texto{
  display: flex;
  justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 10rem;
background-color: transparent !important;

}
.texto h1{
  color:#D2D2C9;
  font-family: 'Abril Fatface', cursive !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-family: 'Mochiy Pop One', sans-serif !important;



}
.texto p {
color: #fff;
  font-family: 'Abril Fatface', cursive ;
  font-family: 'Fira Sans', sans-serif ;
  font-family: 'Mochiy Pop One', sans-serif ;
  font-family: 'Open Sans', sans-serif ;
  font-family: 'Philosopher', sans-serif;
  margin-left: 5rem;
  margin-right:5rem ;
  margin-top: 5%;
}
#phone,#codigo,#correo,#datos-per{
  color:#fff;
  font-family: 'Abril Fatface', cursive !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-family: 'Mochiy Pop One', sans-serif !important;
}

           
#button-cv {
    background-image: linear-gradient(to right, #c35a66 0%, #faaca8  51%, #740211  100%);
    margin: 60px 30px 0px 30px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #1e2326;
    border-radius: 10px;
    display: block;
   border-color: #c35a66;
   font-family: 'Abril Fatface', cursive !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-family: 'Mochiy Pop One', sans-serif !important;
  width: 190px;
  height: 70px;
  font-size: 0.5rem;
  }

  #button-cv:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 




                           /* Skills */




.skills{
  width:100%;
  margin-top: 10%;
}
.skills h1{
  color: #D2D2C9;
  text-align: center;
  background-color: #c35a66;
  width: 20rem;
  height: 6rem;
margin-top: -5%;
position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}
.skills h1:after{
  content: "";
    position: absolute;
    top: 30px;
    left: 40px;
    right: -20px;
    bottom: -30px;
    border: 2px solid #D2D2C9;
}

 .contenido-seccion {
  width:100%;
  margin: auto;
  margin-top: -2%;
  display: inline-flex;
  text-align:center;
  margin-bottom: 50px;
 }
 
.skills h1 , .contenido-seccion{
  font-family: 'Abril Fatface', cursive !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-family: 'Mochiy Pop One', sans-serif !important;
 }

.skill{
  font-family: 'Abril Fatface', cursive ;
  font-family: 'Fira Sans', sans-serif ;
  font-family: 'Mochiy Pop One', sans-serif ;
  font-family: 'Open Sans', sans-serif ;
  font-family: 'Philosopher', sans-serif; 
}

.col h3{
  font-family: 'Abril Fatface', cursive !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-family: 'Mochiy Pop One', sans-serif !important;
}


.skill  > span{
  margin-bottom: 20px;

  color:#D2D2C9;

} 

.col{
  width: 50%;
  margin: auto;

}

 
.skill  .barra-Skills  {
  height: 5px;
  width:60%;
  position:relative;
  margin-bottom:45px;
  background-color:#131517 ;
border-radius: 10%;
margin-left: 10%;
margin-top: 8px;



}


.skill .progreso{
  border-radius:10%;
  background-color: #c35a66;
position:absolute;
top:0;
left:0;
height: 5px;
width:100%;


}

.skill .progreso span{
position :absolute;
height:40px;
width:40px;
background-color: #c35a66;
border-radius:50px;
line-height: 40px;
text-align: center;
top:-19;
right: -15px;
font-size: 14px;
margin: -10px;


}


                      /* barras */
                      /* Barra tecnica */

.skill .html{
  width: 0%;
  animation: 2s html forwards;
}
@keyframes html{
  0% {width: 0%;}
 100% {width: 100%;}
}

.skill .javascript{
  width: 0%;
  animation: 2s javascript forwards;
}
@keyframes javascript{
  0% {width: 0%;}
 100% {width: 50%;}
}

.skill .react{
  width: 0%;
  animation: 2s react forwards;
}
@keyframes react{
  0% {width: 0%;}
 100% {width: 80%;}
}

.skill .expres{
  width: 0%;
  animation: 2s expres forwards;
}
@keyframes expres{
  0% {width: 0%;}
 100% {width: 70%;}
}

.skill .json{
  width: 0%;
  animation: 2s json forwards;
}
@keyframes json{
  0% {width: 0%;}
 100% {width: 90%;}
}

.skill .ionic{
  width: 0%;
  animation: 2s ionic forwards;
}
@keyframes ionic{
  0% {width: 0%;}
 100% {width: 50%;}
}

                      /* barra professional */

.skill .equipo{
  width: 0%;
  animation: 2s  equipo forwards;
}
@keyframes  equipo{
  0% {width: 0%;}
 100% {width: 100%;}
}

.skill .comunicacion{
  width: 0%;
  animation: 2s  comunicacion forwards;
}
@keyframes  comunicacion{ 
  0% {width: 0%;}
 100% {width: 100%;}
}

.skill .liderazgo{
  width: 0%;
  animation: 2s  liderazgo forwards;
}
@keyframes  liderazgo{ 
  0% {width: 0%;}
 100% {width: 90%;}
}

.skill .agiles{
  width: 0%;
  animation: 2s  agiles forwards;
}
@keyframes  agiles{ 
  0% {width: 0%;}
 100% {width: 90%;}
}
.skill .creatividad{
  width: 0%;
  animation: 2s  creatividad forwards;
}
@keyframes  creatividad{ 
  0% {width: 0%;}
 100% {width: 90%;}
}

.skill .innovacion{
  width: 0%;
  animation: 2s   innovacion forwards;
}
@keyframes  innovacion{ 
  0% {width: 0%;}
 100% {width: 90%;}
}
                                             /* Porfolio */
.mision{
  font-family: 'Abril Fatface', cursive !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-family: 'Mochiy Pop One', sans-serif !important;
}
 #proyectos {
  padding: 4rem;
  margin-top: 5%;
  font-size: 2rem;
  
}
.proyectos-box {
 
  background-color:#c35a66 ;
  width: 20rem;
  height: 6rem;
  margin: 1rem;

position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}
.proyectos-box:after {
  content: "";
    position: absolute;
    top: 30px;
    left: 40px;
    right: -40px;
    bottom: -30px;
    border: 2px solid #D2D2C9;
  }

 
.imagenes-proyectos a{
  font-family: 'Abril Fatface', cursive ;
  font-family: 'Fira Sans', sans-serif ;
  font-family: 'Mochiy Pop One', sans-serif ;
  font-family: 'Open Sans', sans-serif ;
  font-family: 'Philosopher', sans-serif;
}

.imagenes-proyectos ul{
  position:absolute;
  margin:0;
  padding:0;
}

.imagenes-proyectos li{
  text-align:center;
  display:inline-block;
  list-style:none;
  position:relative;
  border:solid 12px #fff;
  background:#fff;
  box-shadow:0 0 15px 0px #555;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  top:50px;
}


.imagenes-proyectos li:hover{
  top:0px;
  opacity:0.5;
}

.imagenes-proyectos li:nth-child(1){
    transform:rotate(10deg);
}

.imagenes-proyectos li:nth-child(2){
    transform:rotate(0deg);
}

.imagenes-proyectos li:nth-child(3){
    transform:rotate(-10deg);
}

.imagenes-proyectos li:nth-child(4){
    transform:rotate(20deg);
}

.imagenes-proyectos p{
  margin:0 0 0 0;
}

.light{
  border-radius:50%;
  position:absolute;
  left:0;
  right:0;
  width:700px;
  height:700px;
  filter:blur(100px);
  opacity:0.3;
  pointer-events:none;
}
 

                                                            /* contacto */


.grid-co{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border:1px solid red;

}

 .form{width:440px;height:490px;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(50vw - 40px);box-sizing:border-box;
  position:relative;

font-family: 'Abril Fatface', cursive !important;
font-family: 'Fira Sans', sans-serif !important;
font-family: 'Mochiy Pop One', sans-serif !important;


}


.contactof h2{margin:10px 0;padding-bottom:10px;width:180px;color:#c35a66;border-bottom:3px solid #78788c;;
  font-family: 'Fira Sans', sans-serif !important;
  font-family: 'Mochiy Pop One', sans-serif !important;
}

.name input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;transition:all .3s;border-bottom:2px solid #faaca8 ;
  }

.email input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;
  transition:all .3s;border-bottom:2px solid #faaca8 }
.message textarea{width:100%;height:120px;
   padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;
   transition:all .3s;border-bottom:2px solid #faaca8;
    }

.name  input:focus{border-bottom:2px solid #78788c}
.email input:focus{border-bottom:2px solid #78788c}
.message2 input:focus{border-bottom:2px solid #78788c}


.form  p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}

.send2 {background-image: linear-gradient(to right, #c35a66 0%, #faaca8  51%, #740211  100%);float:right;padding:8px 12px;margin:8px 0 0;
  border:2px solid #78788c;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #1e2326;
    border-radius: 10px;
    display: block;
   border-color: #c35a66;

}

.send2:hover{
  background-position: right center;
  color: #fff;
    text-decoration: none;
}
.contacto-icon{
  position:absolute;bottom:-63px;right:-69px;background:#faaca8 ;color:#fff;width:407px;padding:16px 4px 16px 0;border-radius:6px;font-size:13px;box-shadow:10px 10px 40px -14px #000
}
.contacto-icon span{
  margin:10% 5px 0 15px
}

.spline{
  margin-top:10%;
  width: 50% !important;
  height: 50% !important;
}


